<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue学习</title>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <h1>条件渲染</h1>
    <h2>v-if 切换</h2>
    <div v-if="ok">test text</div>
    <div v-else>测试文本</div>
    <h2>在元素上使用 v-if 条件渲染分组</h2>
    <template v-if="temOk">
      <div>在template使用v-if</div>
    </template>
    <h2>可以使用v-else表示v-if的else部分</h2>
    <div>
      <p v-if="part1Show">第一部分</p>
      <p v-else>第二部分</p>
    </div>
    <h2>v-else-if(v-if的else if部分)</h2>
    <div>
      <div v-if="type=='A'">A</div>
      <div v-else-if="type=='B'">B</div>
      <div v-else-if="type=='C'">C</div>
      <div v-else>D</div>
    </div>
    <h2>用 key 管理可复用的元素</h2>
    <p>只替换placeholder和label的文字</p>
    <template v-if="loginType=='username'">
      <label>Username</label>
      <input placeholder="Enter your username">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address">
    </template>
    <h2>v-show</h2>
    <div v-show="!ok">v-show text</div>
    <h2>v-if vs v-show</h2>
    <h5>v-if 是是否加载,v-show是一定加载,最不过改变其可见性</h5>
    <h2>当 v-if 与 v-for 一起使用时，v-for 具有比 v-if 更高的优先级。</h2>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      ok: false,
      temOk: !false,
      part1Show: false,
      type: "A",
      loginType: 'username'
    }
  })

</script>

</html>
